/backend/logs/
/backend/gradle/
/frontend/node_modules/
/.idea/
/.gradle/
/backend/bin/
/backend/build/
/backend/.gradle/
/gradle/
/backend/gradlew
/backend/gradlew.bat
/gradlew
/gradlew.bat
/logs/
/backend/src/main/resources/static/
/frontend/dist/