.app-layout {
  height: 100%;
  border: 1px solid var(--color-border);
  background: var(--color-fill-2);

  .arco-table-td {
    padding: 9px 16px!important;
  }

  .arco-layout-sider {
    .logo {
      height: 32px;
      margin: 12px 8px;
      background: rgba(255, 255, 255, 0.2);
    }

    &-light {
      .logo {
        background: var(--color-fill-2);
      }
    }
  }

  .arco-menu-item-inner {
    font-size: 14px;
  }

  .arco-menu-item {
    font-size: 14px;
  }

  .arco-menu-inline-header span {
    font-size: 14px;
  }
}
