.password-manager-page {
    width: 100%;
    height: 100%;
    padding: 16px;
    background-color: var(--color-bg-1);

    .arco-table-cell {
        .password-hidden {
            color: var(--color-text-3);
            letter-spacing: 2px;
        }
    }
}