.mindmap-view-page {
    height: 100%;
    position: relative;

    .mindmap-viewer-container {
        flex: 1;
        height: 100%;
        overflow: auto;
        position: relative;
        user-select: none;
    }

    /* Mind Elixir styles adjustments for viewer */
    .mind-elixir-container {
        height: 100% !important;
    }
}