<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">

    <property name="LOG_HOME" value="logs"/>

    <!-- 控制台输出 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="SSE" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>bizLogFile</key>
            <defaultValue>quiz</defaultValue>
        </discriminator>
        <sift>
            <appender name="SSE-${bizLogFile}" class="com.ck.quiz.utils.SseLogbackAppender">
                <layout class="ch.qos.logback.classic.PatternLayout">
                    <pattern>%msg%n</pattern>
                </layout>
            </appender>
        </sift>
    </appender>


    <!-- ✅ 动态日志文件 -->
    <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator>
            <key>bizLogFile</key>
            <defaultValue>quiz</defaultValue>
        </discriminator>
        <sift>
            <appender name="FILE-${bizLogFile}" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${LOG_HOME}/${bizLogFile}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                    <fileNamePattern>${LOG_HOME}/${bizLogFile}.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
                    <maxHistory>7</maxHistory>
                </rollingPolicy>
                <encoder>
                    <pattern>%msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <!-- 根日志 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="SIFT"/>
        <appender-ref ref="SSE"/>
    </root>

</configuration>
