.file-check-container {
  box-shadow: rgb(229, 230, 235) -1px 0px 0px 0px inset;
  overflow: hidden;
  background: var(--background-color-base);
  height: 100%;

  .arco-layout {
    margin: 10px;
    background-color: #fff;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
  }

  .arco-form-item-wrapper {
    height: calc(100% - 22px);
    .arco-form-item-control-wrapper {
      height: 100%;
      .arco-form-item-control {
        height: 100%;
      }
    }
    .arco-form-item-control-children {
      height: 100%;
      .arco-upload-list {
        overflow: auto;
        padding-right: 10px;
        height:calc(100% - 221px);
      }
    }
  }
}
