.code-review-page {
  height: 100%;

  .code-review-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }

  .code-review-grid-wide {
    grid-template-columns: 2fr 1fr;
  }
}
